/* * {
  border: 1px solid red;
} */

.container-fluid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  color: black;
  text-shadow: 4px 5px darkgrey;
  letter-spacing: 15px;
  font-size: 50px;
  padding: 40px;
  font-family: 'Josefin Sans', sans-serif;
}

h2 {
  text-align: center;
  color: black;
  text-transform: uppercase;
  font-size: 24px;
  align-self: center;
  letter-spacing: 50px;
  padding: 10px;
  margin: 0px 5px;
}

.form-inline {
  justify-content: center;
}

input {
  border: 1px solid gainsboro;
  margin: 0px 20px 30px 10px;
  width: 260px;
  overflow: visible;
  background-color: white;
  text-transform: uppercase;
}

input[type="submit"]:hover {
  background-color: gold;
  color: white;
}

.read {
  justify-content: center;
  text-align: center;
  overflow: scroll;
  height: 700px;
  border: 1px solid gainsboro;
}

li {
  display: inline-block;
  align-items: center;
  margin: 10px;
}

img {
  justify-content: flex-start;
  max-width: 530px;
  max-height: 495px;
  width: auto;
  height: auto;
  border-radius: 50%;
  box-shadow: 9px 14px gold;
}

h3 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 10px;
  padding: 20px;
  margin: 15px;
}

p {
  align-self: flex-start;
  text-align: center;
  font-size: 18px;
}

h4 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 30px;
  padding: 20px;
  margin: 15px;
}

button {
  
}
