/* * {
  border: 1px solid red;
} */

.container-fluid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
}

h1 {
  text-align: center;
  text-transform: lowercase;
  color: black;
  letter-spacing: 30px;
  font-size: 50px;
  padding: 40px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bolder;
  background-color:
}

nav {
  text-align: center;
  background-color: darkgrey;
  padding: 15px;
}

a {
  margin: 100px;
  text-decoration: none;
  color: white;
  letter-spacing: 10px;
}

a:hover {
  text-decoration: none;
  font-weight: bolder;
  color: gold;
}

h2 {
  text-align: center;
  color: black;
  text-transform: uppercase;
  font-size: 24px;
  align-self: center;
  letter-spacing: 20px;
  padding: 10px;
  margin: 0px 5px;
}

.form-inline {
  justify-content: center;
}

input {
  border: 1px solid gainsboro;
  margin: 0px 20px 10px 10px;
  width: 260px;
  background-color: white;
  text-transform: uppercase;
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

input:hover {
  overflow: visible;
}

input[type="submit"]:hover {
  background-color: gold;
  border: none;
  color: white;
}

.read {
  justify-content: center;
  text-align: center;
  overflow: scroll;
  height: 700px;
  margin: 20px;
}

li {
  display: inline-block;
  align-items: center;
  border-bottom: 2px solid gainsboro;
  margin: 15px;
}

img {
  justify-content: flex-start;
  max-width: 530px;
  max-height: 495px;
  width: auto;
  height: auto;
  border-radius: 50%;
  box-shadow: 9px 14px gold;
  margin-top: 20px;
}

h3 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 20px;
  padding: 20px;
  margin: 10px;
}

p {
  align-self: flex-start;
  text-align: center;
  font-size: 18px;
  letter-spacing: 5px;
  text-transform: lowercase;
}

p:first-of-type {
  background-color: darkgrey;
  color: white;
}

h4 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 10px;
  padding: 20px;
  margin: 15px;
}

button {
  margin: 10px;
  justify-content: center;
  text-transform: uppercase;
}

button:hover {
  background-color: gold;
  border: none;
  color: white;
}

.create {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: gainsboro;
  padding: 20px;
}

.create input {
  width: 280px;
}

.create input[type="submit"] {
  width: 90px;
}

footer {
  text-align: right;
  text-transform: uppercase;
  background-color: #C0D6E4;
  padding: 30px;
  /* margin: 20px; */
  letter-spacing: 5px;
  font-weight: bold;
}
